
.userinfo_window {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
    font-family: 'Ubuntu';
    border-radius: 8px;
    flex-grow: 1;
    position: relative;
}

.userinfo_list {
    list-style: none;
}

.userinfo_avatar {
    border-radius: 50%;
    width: 3vw;
}

.userinfo_icon {
    width: 2vw
}

.userinfo_name {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    
}

.userinfo_subs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    align-items: flex-start;
    width: 100%;
    column-gap: 4px;
    margin: auto;
    text-align: left;
}

.userinfo_followers {
    padding: 4px 12px;
    background-color: goldenrod;
    color: whitesmoke;
    border-radius: 8px;
    font-size: 1vw;
    white-space: nowrap;
}

.userinfo_following {
    padding: 4px 12px;
    background-color: goldenrod;
    color: whitesmoke;
    border-radius: 8px;
    font-size: 1vw;
    white-space: nowrap;
}

.userinfo_timewrapper {
    width: 100%;
    column-gap: 8px;
    justify-content: flex-start;
    display: flex;
    display: -webkit-flex;
    color: whitesmoke;
}

.userinfo_createdDate {
    width: 35%;
    padding: 4px 2px;
    background-color: rgb(0, 135, 145);
    border-radius: 8px;
    cursor: pointer;
}

.userinfo_updatedDate {
    width: 35%;
    padding: 4px 2px;
    background-color: rgb(1, 170, 182);
    border-radius: 8px;
    cursor: pointer;
}


.userinfo_list{
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    justify-content: space-between;
    height: 100%;
    row-gap: 8px;
}

.userinfo_listitem {
    display: flex;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: rgba(0, 0, 0, 0.192) solid;
    padding: 7px 11px;
    display: -webkit-flex;
    transition: 0.5s ease-in-out all;
}

.userinfo_listitem:hover {
    border-bottom: #F4A460 solid;;
}

.userinfo_listitem  p,span {
    font-size: 1vw;
}



.resultclear_btn {
    width: 16px;
    height: 16px;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/bin_icon.ico');
    position: absolute;
    left: calc(100% - 16px);
    top: 0px;
    cursor: pointer;
}


@media screen and (max-width: 1080px) {
    .userinfo_avatar {
        width: 5vw;
    }

    .userinfo_icon {
        width: 5vw;
    }

    .userinfo_listitem  p,span {
        font-size: 2.5vw;
    }
}