.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4px;
    column-gap: 8px;
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    max-height: 55vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 10px 18px;	
}

.list::-webkit-scrollbar {
  display: none;
}

.list_item {
  
    box-sizing: border-box;
    padding: 20px 14px;
    margin: auto;
    width: 100%;
    border-radius: 8px;
    min-height: 10vh;
    color: white;
    font-size: 1.2vw;
    background-color: rgb(85, 159, 255);
    transition: 0.4s all ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_item_marked {
    border-left: 12px solid rgb(30, 247, 178);
}

.list_item_unmarked {
    border-left: 12px solid rgb(247, 30, 120);
}

.list_item:hover {
    background-color: rgba(85, 159, 255, 0.6);
}

.list_item_link {
    width: 80%;
    color: rgb(250, 250, 250);
    text-decoration: none;
    overflow-x: hidden;
    text-align: left;
}

.list_item_title {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.claim_btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.7vw;
    padding: 7px 11px;
    border-radius: 8px;
    border: none;
    background-color: rgb(236, 233, 233);
    cursor: pointer;
}


@media screen  and (max-width: 1400px) {
    .list {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1080px) {
    .list_item {
        font-size: 2vw;
    }
    .claim_btn {
        font-size: 1.5vw;
    }
}