@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu/Ubuntu-Medium.ttf');
}



.header {
    width: 100%;
    min-height: 10vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: black;
}

.header_wrapper {
    font-family: 'Ubuntu';
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
    min-height: inherit;
}

.header_logo_wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 4vw;
}

.title {
    margin-left: 20px;
    font-size: 1vw;
    color: white;
}


