@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu/Ubuntu-Bold.ttf');
}


.navbar_list {
    font-family: 'Ubuntu';
    font-size: 1vw;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.navbar_link_default {
    text-decoration: none;
    color:  rgb(0, 0, 0);
    transition: 1s all ease-in-out;
    background: rgb(255, 255, 255);
    padding: 4px 12px;
    border-radius: 8px;
}


.navbar_link_current {
    text-decoration: none;
    color:  rgb(234, 234, 234);
    transition: 1s all ease-in-out;
    background: #f4a460;
    padding: 4px 8px;
    border-radius: 8px;
}

@media screen and (max-width:1080px) {
    	.navbar_list {
		 font-size: 1.5vw;
	}  
}