@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu/Ubuntu-Medium.ttf');
}



.footer {
    width: 100%;
    min-height: 10vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: black;
}

.footer_wrapper {
    font-family: 'Ubuntu';
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 80%;
    min-height: inherit;
}

.logo {
    width: 4vw;
}

.title {
    font-size: 1vw;
    color: white;
}

.link {
    margin-left: 20px;
    text-decoration: none;
    color: aquamarine;
}

.git_icon {
    width: 2vw;
}